body{
    height: 100vh;
    font-family: Poppins;
}

.full{
    height: 100vh;
}

.bg-login1{
    background-repeat: no-repeat;
    background-image: url(/template/img/register_kiri.svg);
}

.head-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 130%;
    color: #3D3D3E;
}

.title{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    margin-top: 16px;
    color: #3D3D3E;
}

.form1{
    margin-top: 13%;
    width: 524px;
    height: 565px;
    margin-left: 15%;
    margin-right: 12%;

}

.input{
    width: 250px;
    height: 33px;
   

    /* FFFFFF Bg 1 */

    background: #FFFFFF;
    /* 3A57E8 Primary */

    border: 1px solid #3A57E8;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    width: 250px;
    height: 33px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.input:focus {
    color: #6e707e;
    background-color: #fff;
    border-color: #bac8f3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(78 115 223 / 25%);
}

.title-form{
    position: static;
    width: 44px;
    height: 28px;
    left: 0px;
    top: 0px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
}

label{
    color: rgba(61, 61, 62, 1)
}

.a-login{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    line-height: 175%;
    /* identical to box height, or 28px */


    /* 3A57E8 Primary */

    color: #3A57E8;
}


.login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;

    width: 188px;
    height: 44px;
    left: 132px;
    top: 244px;

    background: #3A57E8;
    border-radius: 4px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 175%;
    text-decoration: none;
    /* identical to box height, or 28px */

    display: flex;
    align-items: center;
    text-align: center;

    /* FFFFFF Bg 1 */

    color: #FFFFFF;
}

.a-login:hover {
    color: white;
    text-decoration: none;
    border-color: #bac8f3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(78 115 223 / 25%);
}

.signup{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 175%;
    /* identical to box height, or 28px */


    /* 232D42 Text Color 1 */

    color: #232D42;

}
